
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  body {
    color: black;
    background: #3b4e6d;
  }

  h1 {
    color: #3b6ad6;
    font-family: Helvetica;
    text-align: Center;
    font-weight: Bold;
    font-size: 60px;
  }

  h2 {
    color: black;
    font-family: Helvetica;
    text-align: Center;
    font-weight: Bold;
    font-size: 20px;
  }

h3 {
   color: black;
   font-family: Helvetica;
   text-align: Center;
   font-weight: Bold;
   font-size: 20px;
}

h4 {
  color: black;
  font-family: Helvetica;
  text-align: Center;
  font-weight: Bold;
  font-size: 20px;
}

ol{
  font-family: Helvetica;
  list-style-type: square;
  margin-left: 0;
  padding-left: 30px;
}
ul {
  font-family: Helvetica;
  list-style-type: square;
  margin-left: 0;
  padding-left: 30px;
}
button {
  color: white;
  height: 30px;
  width: 24%;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

header {
  margin: 10px;
  padding: 30px;
  border: 5px solid #B27D34;
  border-radius: 50px;
  background: #8585ad;
  background: #96D8FF;
}

p {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
}

img {
  border-radius: 100%;
  text-align: center;
  float: right;
  margin: 0px 45px 0px 0px;
}

header{
  margin: 10px;
  background: #e3e4f7;
  border: 5px solid #468AB2;
  height: 150px;
  padding: 30px;
  border-radius: 50px;
}
